* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    border: 1px solid red;
}

span {
    border: 1px solid green;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2daa6d;
    color: #5f5f5f;
}

.bloco {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 320px;
    position: relative;
}

.bloco h1 {
    color: #2daa6d;
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
}

input {
    background-color: #dddddd;
    border: none;
    outline: none;
    margin: 5px 0;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    color: #484848;
    font-size: 12px;
}

button {
    background-color: #36d286;
    border: none;
    padding: 0.7rem 1rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #2daa6d;
}

.nomeIdade {
    display: flex;
    justify-content: space-between;
}

.nome {
    width: 60%;
}

.idade {
    width: 40%;
}

.radio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

p {
    margin: 10px 0 5px 0;
}

form {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
}

img {
    width: 150px;
    height: 120px;
    position: absolute;
    top: -103px;
    transform: translateX(40%);
}